accelerate
transformers
safetensors
opencv-python
diffusers
controlnet_aux
matplotlib
mediapipe
rembg[gpu]
omegaconf
gdown
boto3
fastapi
runpod
uvicorn
segment_anything
python-dotenv
git+https://github.com/IDEA-Research/GroundingDINO.git