accelerate
transformers
safetensors
opencv-python
diffusers
controlnet_aux
matplotlib
mediapipe
rembg[gpu]
omegaconf
gdown
boto3
runpod
fastapi
uvicorn
git+https://github.com/IDEA-Research/GroundingDINO.git
segment-anything
cPython